<div class="container">
	<h5 class="text-center display-4 my-5">Cadastrar nova turma</h5>

	{{#each erros}}
		{{>_error}}
	{{else}}
	{{/each}}

	<div class="card bg-light">
		<div class="card-body">
			<form action="turmas/add" method="POST">

				<div class="form-group">
					<label for="nome">Código:</label>
					<input type="text" id="codigo" name="codigo" placeholder="Código da turma" class="form-control" autocomplete="off" required>
				</div>

				<button type="submit" class="btn btn-success mt-4">Cadastrar Turma</button>
				<a href="/admin/turmas/ver" class="btn btn-warning mt-4"><i class="fa fa-search mr-2"></i>Ver Turmas</a>
			</form>
		</div>
	</div>
	
</div>
