<h1 class="text-center my-4">Painel Admin</h1>

<div class="container text-center">

	<a href="/admin/alunos" class="btn btn-success mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Aluno</a>
	
	<a href="/admin/turmas" class="btn btn-primary mt-4"><i class="fa fa-plus mr-2"></i>Inserir Nova Turma</a>
	
	<a href="/admin/turmas" class="btn btn-danger mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Artigo</a>
	
	<a href="/admin/turmas" class="btn btn-warning mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Inciso</a> 

	<br>

	

</div>