<h1 class="text-center my-3">Painel Admin</h1>

<div class="container col-sm-8 text-center">
<a href="/admin/alunos" class="btn btn-success mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Aluno</a>
<br><br>
<a href="/admin/turmas" class="btn btn-primary"><i class="fa fa-plus mr-2"></i>Inserir Nova Turma</a>

</div>