<div class="container">
	
	<h5 class="text-center display-4 my-3">Lista de alunos</h5>
	
	{{#data}}

	
		
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">{{nome}}</h5>
			<p class="lead">{{codigo}}</p>

			<a href="" class="btn btn-primary mt-4">Editar Aluno</a>
			<a href="../alunos/deletar/{{matricula}}" class="btn btn-danger mt-4">Remover Aluno</a>
		</div>
	</div>
		
	
		  
	{{/data}}
					
</div>