<div class="container">
	<h5 class="text-center display-4 my-3">Lista de Turmas:</h5>
	<div class="card">
		<div class="card-body">
			<hr>
			{{#each data}}
				<a href=""><h5>{{codigo}}</h5></a>
			{{else}}

			{{/each}}
		</div>
	</div>
</div>