<div class="container">
	<h1 class="text-center my-4">Editar Artigo</h1>

	{{#each erros}}
		{{>_error}}
	{{else}}
	{{/each}}

	<div class="card bg-light">
		<div class="card-body">
			<form action="../../artigos/edit" method="POST">

				<div class="form-group">
					<input type="hidden" id="numero" name="numero" value="{{numero}}" required>
					<label for="texto">Texto:</label>
					<input type="text" id="texto" name="texto" placeholder="Texto do Artigo" class="form-control" autocomplete="off" value="{{texto}}" required>
				</div>

				<button type="submit" class="btn btn-success mt-4"><i class="fa fa-check mr-2"></i>Salvar Artigo</button>
			</form>
		</div>
	</div>
	
</div>