<div class="modal fade " id="myModal">
  
  <div class="modal-dialog modal-sm" role="document">
    
    <div class="modal-content">

      <div class="modal-header">

        <h2 class="modal-title">Erro!</h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
		
    		<p class="lead text-center"> {{text}} </p>

        
      </div> 

      

    </div>

  </div>

</div>

{{>_script}}