<div class="container">
	
		<h5 class="text-center display-4 my-3">Lista de alunos</h5>

		
		
		{{#data}}

		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title">{{nome}}</h5>
				<p class="lead">{{turma}}</p>
			</div>
		</div>
		
			  
		  {{/data}}
			
		
</div>