<div class="container">
	
	<h1 class="text-center my-4">Ficha do Aluno</h1>
	
	{{#data}}

	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">{{nome}}</h5>
			<p class="lead">{{codigo}}</p>
			<p class="card-text">Nº de matrícula: {{matricula}}</p>	
			<small>Data de entrada: {{#formatDate entrada}}{{/formatDate}}</small>
			<hr>
			<a href="" class="btn btn-primary"><i class="fa fa-plus mr-2"></i> Ver Mais </a>
		</div>
	</div>
		
	
		  
	{{/data}}
					
</div>