<div class="container">
	<h1 class="text-center my-4">Regimento discente:</h1>
	<div class="card">
		<div class="card-body bg-light">
			<hr>
			{{#each data}}
				<a href="../../../admin/artigo/ver/{{numero}}"><p class="lead">Art. {{numero}}ยบ</p></a>
			{{else}}

			{{/each}}
		</div>
	</div>
</div>