<h1 class="text-center my-4">Painel Admin</h1>

<div class="container text-center">
	
	<a href="/ocorrencia/artigos" class="btn btn-danger mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Artigo</a>
	
	<a href="/ocorrencia/incisos" class="btn btn-warning mt-4"><i class="fa fa-plus mr-2"></i>Inserir Novo Inciso</a> 

	<br>


</div>