<div class="container">
	
	<h1 class="text-center my-4">Inciso</h1>


	<div class="card mb-3">
		
		<div class="card-body text-secondary">
			
			{{#data}}

				<p class="lead">{{num_romano}} . {{texto_inciso}}</p>

			<a href="../../inciso/editar/{{id}}" class="btn btn-success">Editar</a>
			<a href="../../inciso/deletar/{{id}}" class="btn btn-danger">Remover</a>
			{{/data}}

		</div>



	</div>




</div>