<div class="container">
	<h1 class="text-center my-4">Lista de Turmas:</h1>
	<div class="card">
		<div class="card-body bg-light">
			<hr>
			{{#each data}}
				<a href="../../admin/turma/ver/{{id}}"><h5>{{codigo}}</h5></a>
			{{else}}

			{{/each}}
		</div>
	</div>
</div>