<div class="container">
	<h1 class="text-center my-4">Lista de alunos:</h1>
	<div class="card">
		<div class="card-body bg-light">
			<hr>	
			
			<h5 class="card-title">{{codigo}}</h5>

			{{#each data}}
				<a href="../../../admin/aluno/ver/{{matricula}}"><p class="lead">{{nome}}</p></a>
			{{else}}
				<h5>Não há alunos registrados nesta turma!</h5>
			{{/each}}
{{>_footer}}