<div class="container">
<h1 class="text-center my-5"><i class="fa fa-user mr-2"></i>Cadastrar aluno</h1>

	{{#each erros}}
		{{>_error}}
	{{else}}
	{{/each}}

<div class="card bg-light">
	<div class="card-body mb-15">
		<form action="alunos/add" enctype="multipart/form-data" method="POST">

			<div class="form-group row">	
				<label for="nome" class="col-sm-2 col-form-label-sm">Nome:</label>
				<div class="col-sm-10">
					<input type="text" id="nome" name="nome" placeholder="Nome" class="form-control" autocomplete="off" required>
				</div>		
			</div>

			<div class="form-group row">
				<label for="matricula" class="col-sm-2 col-form-label-sm">Matrícula:</label>
				<div class="col-sm-10">
					<input type="text" id="matricula" name="matricula" placeholder="Matrícula" class="form-control" autocomplete="off" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="turma" class="col-sm-2 col-form-label-sm">Turma:</label>
				<div class="col-sm-10">
					<select name="turma" class="custom-select">
						{{#each turmas}}
						<option value="{{id}}">{{codigo}}</option>
						{{else}}
						<option value="0">Nenhuma turma registrada</option>
						{{/each}}
					
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="foto" class="col-sm-2 col-form-label-sm">Foto:</label>
				<div class="col-sm-10">
				    <input type="file" accept="image/*" class="form-control-file" name="foto">           
				</div>
				
			</div>

			
			
			

			<button type="submit" class="btn btn-success mt-4"><i class="fa fa-check mr-2"></i>Cadastrar Aluno</button>
			<a href="/admin/alunos/ver" class="btn btn-info mt-4"><i class="fa fa-search mr-2"></i>Ver Alunos</a>
		</form>
	</div>
</div>

</div>